.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 20px;
    padding: 8px;
    color: $primary-color;
    background-color: $light-color;
}

.title {
    text-transform: uppercase;
}

.cases {
    display: flex;
    margin-bottom: 1em;
}

.case {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 12px;
    padding: 16px;
    color: $light-color;
    font-weight: 600;

    &:last-child {
        margin-right: 0;
    }
}

.confirmed-cases {
    composes: case;
    background-color: #00a7e0;
}

.deaths-cases {
    composes: case;
    background-color: #d53f3f;
}

.recovered-cases {
    composes: case;
    background-color: #b5bd36;
}
