.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-link {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 20px;
    color: #0a123a;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 0 0 16px 16px;

    &:hover {
        color: #5666ac;
    }
}
